<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{%d{dd-MM-yyyy HH:mm:ss:SSS}  %-5p    %-30t  Line:%4L   %c{1} - %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=blue, DEBUG=green bold, TRACE=orange}"
                     disableAnsi="false"/>
    </Console>
    <RollingFile name="RollingFile" fileName="log/app.log"
                 filePattern="log/%i-app.log" >
      <PatternLayout>
        <pattern>%d{dd-MM-yyyy HH:mm:ss:SSS}  %-5p    %-30t  Line:%4L   %c{1} - %m%n</pattern>
      </PatternLayout>
      <Policies>
        <SizeBasedTriggeringPolicy size="3 MB" />
      </Policies>
      <DefaultRolloverStrategy max="5" />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="com.kerernor.autoconnect" level="TRACE">
    </Logger>
    <Root level="ERROR">
      <appender-ref ref="Console" level="TRACE"/>
      <appender-ref ref="RollingFile" level="TRACE"/>
    </Root>
  </Loggers>
</Configuration>
